html 

head 

 link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
 title welcome 

 body 

  a(href="./sign-in").mx-5 sign in 
  a(href="./sign-up").mx-5 sign up 